/* Estilos para el contenedor principal */
.menu-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el Navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Estilos para los elementos de la lista del navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Estilos para los enlaces del navbar */
.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #575757;
}

/* Estilos para el título */
h1 {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 2em;
}

/* Estilos para el párrafo */
p {
    text-align: center;
    color: #555;
    font-size: 1.2em;
    margin-top: 10px;
}
