body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 20px;
}

.container-custom {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 90%;
}
